{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}

{% block content %}

<div class="admin-container">

    <div class="admin-top">
    <a href="/logout">
        <button class="logout-btn">Logout</button>
    </a>
</div>

    <div class="admin-card">
        <h2>Admin Panel</h2>

        <div class="admin-options">
            <a href="/create_exam_page">
                <button>Create Exam</button>
            </a>

            <a href="/add_question_page">
                <button>Add Questions</button>
            </a>

            <a href="/view_results">
                <button>View Results</button>
            </a>
        </div>
    </div>

</div>

{% endblock %}