<!DOCTYPE html>
<html>
<head>
    <title>College Online Examination</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>


{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="card">
    <h2> Login</h2>

    <form method="POST">
        <input type="text" name="vtu" placeholder="Enter VTU Number" required>
        <input type="password" name="password" placeholder="Enter Password" required>
        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}

</body>
</html>